*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
}

@font-face {
    font-family: sanss;
    src: url(../font/sans.ttf);
}

body {
    background-color: #111;
    color: #fff;
    font-family: 'sanss';
    transition: all .5s;
}

input,
button,
select,
option,
textarea {
    font-family: 'sanss';
    word-spacing: 20%;
}

.container {
    width: 500px;
    margin: 30px auto 0;

    h2 {
        margin-bottom: 20px;
        text-align: center;
    }
}

.hidden {
    display: none !important;
}

.controls {
    margin: 40px auto;
    display: flex;
    justify-content: center;
    width: 300px;
    overflow: hidden;
    border-radius: 4px;
    transition: all .5s;

    button {
        width: 150px;
        padding: 10px 0;
        cursor: pointer;
        background-color: #333;
        color: #fff;
        opacity: 0.3;
        border: none;
        transition: opacity 0.3s;
    }

    button.active {
        opacity: 1;

    }
}

.generate{
    .input {
        display: flex;
        justify-content: center;
        width: 400px;
        margin: 100px auto 40px;
        border-radius: 6px;
        overflow: hidden;
    }

    input[type='text'] {
        width: 370px;
    }

    button {
        width: 130px;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
        }
    }

    button,
    input[type='text'] {
        padding: 10px 5px;
        border: 1px solid #000;
        background-color: #333;
        color: #fff;
    }

    /* #qrcode{
        width: 200px;
        border-radius: 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .1s;
    }

    #qrcode img {
        max-width: 400px;
        max-height: 400px;
        margin: 10px auto;
        border: 1px solid #d1d1d1;
    } */

    #imgBox{
        width: 200px;
        border-radius: 5px;
        max-height: 0;
        overflow: hidden;
        transition: max-height .1s;

        img{
            width: 100%;
            padding: 10px;
        }
    }

    #imgBox.show-img{
        max-height: 300px;
        margin: 10px auto;
        border: 1px solid #d1d1d1;
    }

    a {
        display: block;
        width: 120px;
        padding: 6px;
        border-radius: 4px;
        text-align: center;
        margin: 30px auto;
        text-decoration: none;
        color: #fff;
        background-color: #333;
        font-size: 14px;
    }

    a:hover {
        opacity: 0.8;
    }

}

.scan {
    .type {
        display: flex;
        justify-content: center;
        width: 400px;
        margin: 100px auto;
        span {
            position: absolute;
            inset: 0;
            z-index: 1;
            font-size: 14px;
        }

        input[type='file'] {
            position: absolute;
            inset: 0;
            opacity: 0;
            z-index: 2;
            cursor: pointer;
        }

        button {
            position: absolute;
            inset: 0;
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: #fff;
        }
    }
    
    .type>div {
        width: 150px;
        height: 40px;
        background-color: #333;
        text-align: center;
        position: relative;
        line-height: 38px;
        border-radius: 3px;
        &:hover {
            opacity: 0.8;
        }
    }

    .show {
        width: 400px;
        margin: 40px auto;

        img {
            margin: auto;
            display: block;
            max-width: 100%;
        }
    }
    

    .output {
        text-align: center;
        margin: auto;
        width: 400px;
    }
}

